<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfxwkj.purchase.modular.mapper.DictypeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lfxwkj.purchase.modular.entity.Dictype">
                    <id column="id" property="id"/>
                    <result column="dictype" property="dictype"/>
                    <result column="memo" property="memo"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id AS "id", dictype AS "dictype", memo AS "memo"
        </sql>


    <select id="customList" resultType="com.lfxwkj.purchase.modular.model.result.DictypeResult"
            parameterType="com.lfxwkj.purchase.modular.model.params.DictypeParam">
        select
        <include refid="Base_Column_List"/>
        from dictype where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.lfxwkj.purchase.modular.model.params.DictypeParam">
        select
        <include refid="Base_Column_List"/>
        from dictype where 1 = 1
    </select>

    <select id="customPageList" resultType="com.lfxwkj.purchase.modular.model.result.DictypeResult"
            parameterType="com.lfxwkj.purchase.modular.model.params.DictypeParam">
        select
        <include refid="Base_Column_List"/>
        from dictype where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.lfxwkj.purchase.modular.model.params.DictypeParam">
        select
        <include refid="Base_Column_List"/>
        from dictype where 1 = 1
    </select>

</mapper>
