<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfxwkj.purchase.modular.mapper.ProjectambitusMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lfxwkj.purchase.modular.entity.Projectambitus">
                    <id column="id" property="id"/>
                    <result column="projectID" property="projectID"/>
                    <result column="ambitusType" property="ambitusType"/>
                    <result column="name" property="name"/>
                    <result column="distance" property="distance"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id AS "id", projectID AS "projectID", ambitusType AS "ambitusType", name AS "name", distance AS "distance"
        </sql>


    <select id="customList" resultType="com.lfxwkj.purchase.modular.model.result.ProjectambitusResult"
            parameterType="com.lfxwkj.purchase.modular.model.params.ProjectambitusParam">
        select
        <include refid="Base_Column_List"/>
        from projectambitus where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.lfxwkj.purchase.modular.model.params.ProjectambitusParam">
        select
        <include refid="Base_Column_List"/>
        from projectambitus where 1 = 1
    </select>

    <select id="customPageList" resultType="com.lfxwkj.purchase.modular.model.result.ProjectambitusResult"
            parameterType="com.lfxwkj.purchase.modular.model.params.ProjectambitusParam">
        select
        <include refid="Base_Column_List"/>
        from projectambitus where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.lfxwkj.purchase.modular.model.params.ProjectambitusParam">
        select
        <include refid="Base_Column_List"/>
        from projectambitus where 1 = 1
    </select>

</mapper>
