<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfxwkj.purchase.modular.mapper.ProjectsalespersonMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lfxwkj.purchase.modular.entity.Projectsalesperson">
                    <id column="id" property="id"/>
                    <result column="projectID" property="projectID"/>
                    <result column="salespersonID" property="salespersonID"/>
                    <result column="orderNum" property="orderNum"/>
                    <result column="isMain" property="isMain"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id AS "id", projectID AS "projectID", salespersonID AS "salespersonID", orderNum AS "orderNum",isMain as "isMain"
        </sql>


    <select id="customList" resultType="com.lfxwkj.purchase.modular.model.result.ProjectsalespersonResult"
            parameterType="com.lfxwkj.purchase.modular.model.params.ProjectsalespersonParam">
        select
        <include refid="Base_Column_List"/>
        from projectsalesperson where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.lfxwkj.purchase.modular.model.params.ProjectsalespersonParam">
        select
        <include refid="Base_Column_List"/>
        from projectsalesperson where 1 = 1
    </select>

    <select id="customPageList" resultType="com.lfxwkj.purchase.modular.model.result.ProjectsalespersonResult"
            parameterType="com.lfxwkj.purchase.modular.model.params.ProjectsalespersonParam">
        select k.name as "projectinfoName",n.name as "salespersonName",t.id AS "id", t.projectID AS "projectID", t.salespersonID AS "salespersonID",
                     t.orderNum AS "orderNum",t.isMain as "isMain"
        from projectsalesperson t
        left join projectinfo k on k.id = t.`projectID`
        left join `salesperson` n on n.`id` = t.`salespersonID`
        where 1 = 1
        <if test="paramCondition.projectinfoName != null and paramCondition.projectinfoName !=''">
            and k.name like concat('%',#{paramCondition.projectinfoName},'%')
        </if>
         <if test="paramCondition.salespersonName != null and paramCondition.salespersonName !=''">
            and n.name like concat('%',#{paramCondition.salespersonName},'%')
        </if>
        order by t.orderNum desc
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.lfxwkj.purchase.modular.model.params.ProjectsalespersonParam">
        select
        <include refid="Base_Column_List"/>
        from projectsalesperson where 1 = 1
    </select>

    <select id="projectSalespersonList" resultType="com.lfxwkj.purchase.modular.model.vo.ProjectsalepersonListVo">
        select k.`name`,k.`picUrl`,k.`tel`
        from projectsalesperson t
        left join `salesperson` k on k.`id` = t.`salespersonID`
        where t.`projectID` = #{projectID}
        order by k.`goodNum` desc
        <if test="nums != null">
            limit #{nums}
        </if>
    </select>

</mapper>
